extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='/') Hjem
          a(href='pubListe') Pub
          a(href='') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(method='get', action='pub')
              input(type='text', name='pub')

        - function side()
        - {
        - document.getElementsByClassName("side1").style.display="none";
        - };

        br
        h2 Liste over pub i Bergen
        #hovedinnhold




          button(onclick="side()") class
          each pub, index in liste


                    .side1
                      ul
                        if index === 0
                          h2 #1
                        h3
                          a(href="pub?#{uriStr[index]}")= pub
