extends testlayout

block content
  #wrapper
    #mask
        #item1.item
          a(name='item1')
          .content
            | item1
            a.panel(href='#item1') 1
            | |
            a.panel(href='#item2') 2
            | |
            a.panel(href='#item3') 3
            | |
            a.panel(href='#item4') 4
            | |
            a.panel(href='#item5') 5
        #item2.item
          a(name='item2')
          .content
            | item2
            a.panel(href='#item1') back
        #item3.item
          a(name='item3')
          .content
            | item3
            a.panel(href='#item1') back
        #item4.item
          a(name='item4')
          .content
            | item4
            a.panel(href='#item1') back
        #item5.item
          a(name='item5')
          .content
            | item5
            a.panel(href='#item1') back
    #wrapper
      #mask
        //
           first row
        #item1.item
          a(name='item1')
          .content
            | item1
            a.panel(href='#item1') 1
            | |
            a.panel(href='#item2') 2
            | |
            a.panel(href='#item3') 3
        .item
        .item
        .clear
        //
           second row
        .item
        #item2.item
          a(name='item2')
          .content
            | item2
            a.panel(href='#item1') back
        .item
        .clear
        //
           third row
        .item
        .item
        #item3.item
          a(name='item3')
          .content
            | item3
            a.panel(href='#item1') back
        .clear
    #wrapper
      #mask
        #item1.item
          a(name='item1')
          .content
            | item1
            a.panel(href='#item1') 1
            | |
            a.panel(href='#item2') 2
            | |
            a.panel(href='#item3') 3
            | |
            a.panel(href='#item4') 4
            | |
            a.panel(href='#item5') 5
        #item2.item
          a(name='item2')
          .content
            | item2
            a.panel(href='#item1') back
        #item3.item
          a(name='item3')
          .content
            | item3
            a.panel(href='#item1') back
        #item4.item
          a(name='item4')
          .content
            | item4
            a.panel(href='#item1') back
        #item5.item
          a(name='item5')
          .content
            | item5
            a.panel(href='#item1') back
    #wrapper
      #mask
        //
           first row
        #item1.item
          a(name='item1')
          .content
            | item1
            a.panel(href='#item1') 1
            | |
            a.panel(href='#item2') 2
            | |
            a.panel(href='#item3') 3
        .item
        .item
        .clear
        //
           second row
        .item
        #item2.item
          a(name='item2')
          .content
            | item2
            a.panel(href='#item1') back
        .item
        .clear
        //
           third row
        .item
        .item
        #item3.item
          a(name='item3')
          .content
            | item3
            a.panel(href='#item1') back
        .clear
