body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  background-color: #e6eeec;
}

#wrapper {
  margin: 0 auto;
  width: 50em;

}

header h1 {
  position: relative;
  right: 16em;
  max-width:40em;
  min-width: 40em;

}

#hoved {
  background-color: white;
  max-width: 60em;
  height: auto;

  border-radius: 0.3em;
  padding-bottom: 1em;
}

#nav-bar {
  background-color: #2d3436;
  max-height: 2em;
  padding: 1em;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

}

#nav-bar a {
  position: relative;
  left: -38%;
}

#nav-bar a:hover,#nav-bar a:visited,#nav-bar a{
  text-decoration:none;
  color: white;
  font-size: 1.3em;
  padding: 0.2em;
}

#sok p {
  color: white;
  position: relative;
  bottom: -1em;
}

#sok {
  position: relative;
  right:-19em;
  bottom: 3.5em;
}

#hovedinnhold{
  border: solid;
  max-width: 48em;
  height: auto;
  margin: 2em auto 1em auto;
  padding-bottom: 1.5em;
  overflow: hidden;
}


#hovedinnhold p,#hovedinnhold h1, #hovedinnhold a{
  margin: 0.8em 0 0 2%;
}
/*Alt under her er for scroll funksjonen på pubListe.jade*/
#sider {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    height:32em;


}

#sider h3{
  text-align: left;
  margin-left: 5em;
}

#mask {
  width:700%;
  height:100%;

}

.side {
  width:14.3%;
  height:100%;
  float:left;

}
